@using SEP3Library.Models
@using SEP3Library.UIModels
@using System.ComponentModel.DataAnnotations
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using SEP3UI.Authentication
@using SEP3UI.Data
@attribute [Authorize(Policy = Policies.IsAdmin)]
@inject IItemService itemService
@inject IWebHostEnvironment Environment
@inject NavigationManager nav

@if (bookModel.Authors != null) {
    <EditForm Model="@bookModel" OnValidSubmit="AddBookAsync">
        <div class="container text-center d-flex flex-column align-items-center mt-3">
            <DataAnnotationsValidator/>
            <div class="row">
                <div class="col-md-3">
                    <div class="">
                        <img class="img-thumbnail rounded w-50 mb-2" src="@bookModel.FilePath" alt="Image of @bookModel.Name"/>
                    </div>
                    <div class="mt-3">
                        <label class="label-customised" for="name">Name:</label>
                        <input @bind-value="bookModel.Name" class="form-control" type="text" id="name"/>
                    </div>
                    <ValidationMessage For="@(() => bookModel.Name)"/>
                    <div class="mt-1 text-center">
                        <label class="label-customised" for="description">Description:</label>
                        <textarea @bind="bookModel.Description" class="form-control" type="text" id="description" rows="5"></textarea>
                    </div>
                    <ValidationMessage For="@(() => bookModel.Description)"/>
                </div>
                <div class="col-md-3">
                    <div class="text-center">
                        <label for="controlFile">Upload an image:</label>
                        <InputFile id="controlFile " OnChange="@((args) => SetInputFile(args))"/>
                    </div>
                    <div class="mt-3">
                        <label class="label-customised" for="price">Price:</label>
                        <InputNumber class="form-control" @bind-Value="bookModel.Price" step=".01" id="price"/>
                    </div>
                    <ValidationMessage For="@(() => bookModel.Price)"/>
                    <div class="mt-3">
                        <label class="label-customised" for="quantity">Quantity:</label>
                        <input @bind-value="bookModel.Quantity" class="form-control" type="number" id="quantity"/>
                    </div>
                    <ValidationMessage For="@(() => bookModel.Quantity)"/>
                    <div class="mt-3 inputs">
                        <label class="label-customised" for="discount">Discount:</label>
                        <input @bind-value="bookModel.Discount" class="form-control" type="number" id="discount"/>

                    </div>
                    <ValidationMessage For="@(() => bookModel.Discount)"/>
                </div>
                <div class="col-md-3">
                    <div>
                        <label class="label-customised" for="bookIsbn">Book isbn:</label>
                        <input @bind-value="bookModel.Isbn" class="form-control" type="text" id="bookIsbn"/>
                    </div>
                    <ValidationMessage For="@(() => bookModel.Isbn)"/>

                    <div class="mt-1">
                        <label class="label-customised" for="authorFName">Author first name:</label>
                        <input @bind-value="authorFirstName" class="form-control" type="text" id="authorFName"/>
                    </div>

                    <div class="mt-1">
                        <label class="label-customised" for="authorLname">Author last name:</label>
                        <input @bind-value="authorLastName" class="form-control" type="text" id="authorLname"/>
                    </div>

                    <i @onclick="() => AddAuthorsClicked()" class="btn btn-outline-primary mt-3">Add author</i>
                    <table class="table table-striped mt-3">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Author author in bookModel.Authors) {
                            <tr class="family-row">
                                <td>@author.FirstName</td>
                                <td>@author.LastName</td>
                                <td>
                                    <i @onclick="@(() => RemoveAuthorClicked(author))" class="oi oi-trash" style="color:red"></i>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    <div class="mt-1">
                        <label class="label-customised" for="language">Book language:</label>
                        <input @bind-value="bookModel.Language" type="text" class="form-control" id="language"/>
                    </div>
                    <ValidationMessage For="@(() => bookModel.Language)"/>

                    <div class="mt-3">
                        <label id="problematic-label">Date:</label>
                        <InputDate @bind-Value="bookModel.PublicationDate"/>
                    </div>
                    
                    <div class="mt-1">
                        <label class="label-customised" for="genreName">Genre :</label>
                        <input @bind-value="genreName" class="form-control" type="text" id="genreName"/>
                    </div>

                    <i @onclick="() => AddGenreClicked()" class="btn btn-outline-primary mt-3">Add genre</i>

                    <div class="mt-3">
                        <select class="form-select" aria-label="Genre" @onchange="@((args) => SetSelectedGenre(args))">
                            <option selected hidden>Select a genre</option>
                            @foreach (Genre g in genres) {
                                <option value="@g.Name">@g.Name</option>
                            }
                        </select>
                    </div>
                    <table class="table table-striped mt-3">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (Genre g in selectedGenres) {
                            <tr class="family-row">
                                <td>@g.Name</td>
                                <td>
                                    <i @onclick="@(() => RemoveGenreClicked(g))" class="oi oi-trash" style="color:red"></i>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <ValidationMessage For="@(() => bookModel.Genre)"/>
                </div>
            </div>
            <div class="form-group d-flex text-center justify-content-center">
                <label class="control-label"></label>
                <div>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
            <div class="text-center text-danger">
                <div>@errorMessage</div>
            </div>
        </div>
    </EditForm>
}

@code {

    [Parameter]
    public Category? Category { get; set; }

    [Parameter]
    public int Id { get; set; }

    private IList<Genre> genres = new List<Genre>();
    private string? selectedGenreName;
    private string? selectedCategory;
    private List<Genre> selectedGenres = new();
    private BookModel bookModel = new BookModel();
    private Book book;
    private string errorMessage;
    private IBrowserFile uploadedFile;

    [MaxLength(50, ErrorMessage = "The first name cannot exceed 50 characters")]
    [Required(ErrorMessage = "Please enter a first name for the author")]
    public string authorFirstName { get; private set; }

    [Required(ErrorMessage = "Please enter a last name for the author")]
    [MaxLength(50, ErrorMessage = "The first name cannot exceed 50 characters")]
    private string authorLastName { get; set; }

    [MaxLength(50, ErrorMessage = "Please enter a genre name with max 50 characters")]
    [Required(ErrorMessage = "Please enter a name for the genre")]
    private string genreName { get; set; }

    protected override async Task OnInitializedAsync() {
        genres = await itemService.GetGenresAsync();
        bookModel.Category = Category;
        if (Id != 0) {
            book = await itemService.GetBookAsync(Id);
            bookModel.Name = book.Name;
            bookModel.Description = book.Description;
            bookModel.Category = book.Category;
            bookModel.Discount = book.Discount;
            bookModel.Price = book.Price;
            bookModel.Status = book.Status;
            bookModel.Quantity = book.Quantity;
            bookModel.Isbn = book.Isbn;
            bookModel.Authors = book.Authors;
            bookModel.Genre = book.Genre;
            bookModel.Language = book.Language;
            bookModel.FilePath = book.FilePath;
            bookModel.PublicationDate = new DateTime(book.PublicationDate.Year, book.PublicationDate.Month, book.PublicationDate.Day, book.PublicationDate.Hour,
                book.PublicationDate.Minute, book.PublicationDate.Second);
            foreach (Genre g in book.Genre)
                selectedGenres.Add(g);
        }
    }

    private void SetInputFile(InputFileChangeEventArgs args) {
        errorMessage = "";
        IList<string> fileTypes = new List<string>() {
            "jpg",
            "jpeg",
            "png"
        };
        if (!fileTypes.Any(ft => ft.Equals(args.File.ContentType.Split("/")[1]))) {
            errorMessage = "You can only upload jpg, jpeg and png files";
            uploadedFile = null;
        }
        else {
            uploadedFile = args.File;
        }
    }

    private async Task UploadFile() {
        long maxFileSize = 5000000;

        var path = Path.Combine(Environment.ContentRootPath, @"wwwroot\Images", uploadedFile.Name);
        await using FileStream fs = new(path, FileMode.Create);
        await uploadedFile.OpenReadStream(maxFileSize).CopyToAsync(fs);
    }

    private async Task AddBookAsync() {
        try {
            if (Id == 0) {
                bookModel.Genre = selectedGenres;
                if (bookModel.Genre.Count < 1 || bookModel.Authors.Count < 1)
                    throw new Exception("Please input a genre or author");
                if (uploadedFile != null) bookModel.FilePath = "Images/" + uploadedFile.Name;
                await itemService.AddBookAsync(bookModel);
                errorMessage = "Successful book added";
                if (uploadedFile != null) {
                    await UploadFile();
                }
                bookModel = new BookModel() {
                    Category = Category
                };
            }
            else {
                await EditBook();
            }
        }
        catch (Exception e) {
            errorMessage = e.Message;
            uploadedFile = null;
        }
    }

    private async Task EditBook() {
        if (bookModel != null && bookModel.Category.Name.Equals("Book")) {
            bookModel.Genre = selectedGenres;
            if (bookModel.Genre.Count < 1 || bookModel.Authors.Count < 1) {
                throw new Exception("Please input a genre or author");
            }
            if (uploadedFile != null) bookModel.FilePath = "Images/" + uploadedFile.Name;
            await itemService.UpdateBookAsync(Id, bookModel);
            errorMessage = "Successful book edited";
        }
    }

    private void SetSelectedGenre(ChangeEventArgs args) {
        selectedGenreName = args.Value.ToString();
        Genre g = new Genre() {
            Name = selectedGenreName
        };
        Genre found = selectedGenres.FirstOrDefault(i => i.Name.ToLower().Equals(g.Name.ToLower()));
        if (found == null)
            selectedGenres.Add(g);
        bookModel.Genre = selectedGenres;
        selectedGenreName = null;
    }

    private void AddAuthorsClicked() {
        if (!((authorFirstName == null || authorLastName == null) || (authorFirstName.Equals("") || authorFirstName.Trim().Equals(""))
              && authorLastName.Equals("") || authorLastName.Trim().Equals(""))) {
            Author author = new Author() {
                FirstName = authorFirstName,
                LastName = authorLastName
            };
            bookModel.Authors.Add(author);
            authorFirstName = null;
            authorLastName = null;
        }
    }

    private void RemoveAuthorClicked(Author author) {
        bookModel.Authors.Remove(author);
    }

    private void RemoveGenreClicked(Genre genre) {
        bookModel.Genre.Remove(genre);
    }

    private void AddGenreClicked() {
        if (!(genreName == null || genreName.Equals("") || genreName.Trim().Equals(""))) {
            Genre genre = new Genre() {
                Name = genreName
            };
            selectedGenres.Add(genre);
            genres.Add(genre);
            // bookModel.Genre.Add(genre);
            genreName = null;
        }
    }

}