@page "/"
@using SEP3Library.Model
@using SEP3UI.Data
@inject NavigationManager NavigationManager
@inject IModelService modelService

Welcome to Under Covers  main paaaage

@if (Items != null) {
<div id="productsWrapper" class="row">
    @foreach (Item item in Items) {
        <div class="card col-sm-3 m-3">
            <div @onclick="@(()=> NavigateToItemDetails(item))">
                <a asp-page="/itemDetails" asp-route-id="@item.Id" title="Order @item.Name">
                    <div class="productInfo">
                        <h3>@item.Name</h3>
                        <img class="product-image img-fluid img-thumbnail" src="Images/Larman.jpg" alt="Image of @item.Name"/>
                        <p class="card-text">@item.Description</p>
                    </div>
                </a>
            </div>
            <div class="action">
                <p class="price float-left">$@string.Format("{0:f}", item.Price)</p>
                <button class="btn btn-sm btn-dark order-button float-right" @onclick="(() => AddToShoppingCart(item))">Add to Shopping cart</button>
            </div>
        </div>
    }
</div>
}
 
 
@code {
    public IList<Item> Items { get; set; }

    protected override async Task OnInitializedAsync() {
        Items = await modelService.GetItemsAsync();
    }

    private void NavigateToComponent(Item item) {
        NavigationManager.NavigateTo("ShoppingBasket/" + item.Id);
    }

    private void NavigateToItemDetails(Item item) {
        NavigationManager.NavigateTo("ItemDetails/" + item.Id);
    }

    private void AddToShoppingCart(Item item) {
        modelService.ShoppingCart.AddToShoppingCart(item);
    }
    

}