@page "/"
@using SEP3Library.Model
@using SEP3UI.Data
@using System.Collections
@inject NavigationManager NavigationManager
@inject IItemService itemService
@inject IOrderService orderService

Welcome to Under Covers  main paaaage

@if (items != null) {
<div id="productsWrapper" class="row ">
    @foreach (Item item in items) {
        <div class="card col-sm-3 m-3">
            <div @onclick="@(() => NavigateToItemDetails(item))">
                <a asp-route-id="@item.Id" title="Order @item.Name">
                    <div>
                        <h3>@item.Name</h3>
                        <img class="product-image img-fluid img-thumbnail image" src="@item.ImageName" alt="Image of @item.Name"/>
                        <p class="card-text">@item.Description</p>
                    </div>
                </a>
            </div>
            <div class="action">
                <p class="price float-left">$@string.Format("{0:f}", item.Price)</p>
                <button class="btn btn-sm btn-dark order-button float-right" @onclick="(() => AddToShoppingCart(item))">Add to Shopping cart</button>
            </div>
        </div>
    }
</div>
}
<div class="text-center">
    <button class="btn btn-md btn-dark order-button" style="@hidden" @onclick="LoadMore">Load more</button>
</div>

@code {
    private int itemIndex;
    private IList<Item> items;
    private string hidden;

    protected override async Task OnInitializedAsync() {
        itemIndex = 0;
        items = await itemService.GetItemsAsync(itemIndex);
        hidden = "";
    }

    private async Task LoadMore() {
        itemIndex++;
        IList<Item> newList = await itemService.GetItemsAsync(itemIndex);
        if (newList.Count == 0) {
            hidden = "display: none";
            itemIndex--;
        }
        foreach (Item item in newList) {
            items.Add(item);
        }
    }

    private void NavigateToItemDetails(Item item) {
        NavigationManager.NavigateTo("ItemDetails/" + item.Id);
    }

    private void AddToShoppingCart(Item item) {
        orderService.ShoppingCart.AddToShoppingCart(item);
    }
}