@page "/"
@using SEP3UI.Data
@using SEP3Library.Models
@inject NavigationManager NavigationManager
@inject IItemService itemService
@inject IOrderService orderService

<h3>Under Covers</h3>
<div class="row justify-content-center " id="searchBar">
    <input class="col-md-4 border border-dark rounded" @bind-value="searchItem" @onkeyup="@SearchItemsAsync" placeholder="Search..."/>
    <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
</div>
@if (filteredItems != null) {
@if (!filteredItems.Any()) {
    <div class="card">
        <div class="row">
            <div class="col-8" >No items were found</div>
            <img class="img-fluid image col-4" src="Images/blazor_meme.jpg"/>
        </div>
    </div>
}
else {
    <div id="productsWrapper" class="row ">
        @foreach (Item item in filteredItems) {
            <div class="card col-sm-3 m-3">
                <div @onclick="@(() => NavigateToItemDetails(item))">
                    <a asp-route-id="@item.Id" title="Order @item.Name">
                        <div>
                            <h3>@item.Name</h3>
                            <img class="product-image img-fluid img-thumbnail image" src="@item.ImageName" alt="Image of @item.Name"/>
                            <p class="card-text">@item.Description</p>
                        </div>
                    </a>
                </div>
                <div class="action">
                    <p class="price float-left">$@string.Format("{0:f}", item.Price)</p>
                    <button class="btn btn-sm btn-dark order-button float-right" disabled="@GetDisabledState(item)" @onclick="(() => AddToShoppingCart(item))">Add to Shopping cart</button>
                </div>
            </div>
        }
    </div>
}
}

<div class="text-center">
    <button class="btn btn-md btn-dark order-button" style="@hidden" @onclick="LoadMore">Load more</button>
</div>

@code {
    private int itemIndex;
    private IList<Item> items;
    private IList<Item> filteredItems;
    private string hidden;
    private string searchItem;

    protected override async Task OnInitializedAsync() {
        itemIndex = 0;
        items = await itemService.GetItemsAsync(itemIndex);
        filteredItems = items;
        hidden = "";
    }

    private bool GetDisabledState(Item item) {
        if (item.Quantity < 1)
            return true;
        return false;
    }

    private async Task LoadMore() {
        itemIndex++;
        IList<Item> newList = await itemService.GetItemsAsync(itemIndex);
        if (newList.Count == 0) {
            hidden = "display: none";
            itemIndex--;
        }
        foreach (Item item in newList) {
            items.Add(item);
        }
    }

    private void NavigateToItemDetails(Item item) {
        NavigationManager.NavigateTo("ItemDetails/" + item.Id);
    }

    private void AddToShoppingCart(Item item) {
        orderService.ShoppingCart.AddToShoppingCart(item);
    }

    private async Task SearchItemsAsync(KeyboardEventArgs e) {
        if (e.Key == "Enter") {
            filteredItems = await itemService.GetItemsBySearchAsync(searchItem, itemIndex);
        }
    }

}