@page "/"
@using SEP3UI.Model
@using SEP3UI.Data
@inject NavigationManager NavigationManager
@inject IModelService modelService

Welcome to Under Covers  main paaaage

<div id="featuredProduct" class="row">
    <div class="col-sm-8">
        <img alt="Featured Product" src="/Images/Larman.jpg" class="img-fluid rounded"/>
    </div>
    <div id="featuredProductInfo" class="col-sm-4">
        <div id="productInfo">
            <h2>@FeaturedItem.Name</h2>
            <p class="price">$@string.Format("{0:f}", @FeaturedItem.Price)</p>
            <p class="description">@FeaturedItem.Description</p>
        </div>
        <div id="callToAction">
            <a href="order/@FeaturedItem.Id">
                <button class="btn btn-sm btn-dark order-button float-left">Add to Shopping Cart</button>
            </a>
        
        </div>
    </div>
</div>
<div id="productsWrapper" class="row">
    @foreach (Item item in Items) {
        <div class="card col-sm-3 m-3">
            <a asp-page="/itemDetails" asp-route-id="@item.Id" title="Order @item.Name">
                <div class="productInfo">
                    <h3>@item.Name</h3>
                    <img class="product-image img-fluid img-thumbnail" src="Images/Larman.jpg" alt="Image of @item.Name"/>
                    <p class="card-text">@item.Description</p>
                </div>
            </a>
            <div class="action">
                <p class="price float-left">$@string.Format("{0:f}", item.Price)</p>
                <button class="btn btn-sm btn-dark order-button float-right" @onclick= "(() => AddToShoppingCart(item))">Add to Shopping cart</button>
            </div>
        </div>
    }
</div>
 
 
@code {
    public IList<Item> Items { get; set; }
    public Item FeaturedItem { get; set; }

    protected override async Task OnInitializedAsync() {
    //Items = await ItemService.GetItems(); 
        Items = new List<Item>() {
            new Item() {
                Name = "blabla",
                Id = 1
            },
            new Item() {
                Name = "blabla2",
                Id= 2
            },
            new Item() {
                Name = "blabla2",
                Id = 3
            },
            new Item() {
                Name = "blabla2",
                Id =4
            },
            new Item() {
                Name = "blabla2",
                Id = 5
            }
        };
        FeaturedItem = Items.ElementAt(new Random().Next(Items.Count)); 
    }

    private void NavigateToComponent(Item item) {
        NavigationManager.NavigateTo("ShoppingBasket/" + item.Id);
    }

    private void AddToShoppingCart(Item item) {
        modelService.ShoppingCart.AddToShoppingCart(item);
    }
    

}