@page "/{itemindex:int}"
@using SEP3Library.Model
@using SEP3UI.Data
@using System.Collections
@inject NavigationManager NavigationManager
@inject IItemService itemService
@inject IOrderService orderService

Welcome to Under Covers  main paaaage

@if (Items != null) {
<div id="productsWrapper" class="row">
    @foreach (Item item in Items) {
        <div class="card col-sm-3 m-3">
            <div @onclick="@(()=> NavigateToItemDetails(item))">
                <a asp-route-id="@item.Id" title="Order @item.Name">
                    <div>
                        <h3>@item.Name</h3>
                        <img class="product-image img-fluid img-thumbnail image" src="@item.ImageName" alt="Image of @item.Name"/>
                        <p class="card-text">@item.Description</p>
                    </div>
                </a>
            </div>
            <div class="action">
                <p class="price float-left">$@string.Format("{0:f}", item.Price)</p>
                <button class="btn btn-sm btn-dark order-button float-right" @onclick="(() => AddToShoppingCart(item))">Add to Shopping cart</button>
            </div>
        </div>
    }
    <button class="btn btn-sm btn-dark order-button" @onclick="LoadMore">Load more</button>
</div>
}
 
 
@code {

    [Parameter]
    public int ItemIndex { get; set; }

    public IList<Item> Items { get; set; }

    protected override async Task OnInitializedAsync() {
        ItemIndex = 0;
        Items = await itemService.GetItemsAsync(ItemIndex);
    }

    private async void LoadMore() {
        ItemIndex++;
        IList<Item> newList = await itemService.GetItemsAsync(ItemIndex);
        foreach (Item item in newList) {
            Items.Add(item);
        }
    }

    private void NavigateToComponent(Item item) {
        NavigationManager.NavigateTo("ShoppingBasket/" + item.Id);
    }

    private void NavigateToItemDetails(Item item) {
        NavigationManager.NavigateTo("ItemDetails/" + item.Id);
    }

    private void AddToShoppingCart(Item item) {
        orderService.ShoppingCart.AddToShoppingCart(item);
    }
}