@page "/ItemDetails/{id:int}"
@using SEP3Library.Model
@using SEP3UI.Data
@inject IModelService itemService

@if (item == null) {
    <h2> No such item found </h2>
    
}
else {
    <div class="card">
        <div class="row col-md-3">
            <div class="pro-img-details img-fluid img-thumbnail">
                <img src="@item.ImageName"/>
            </div>
        </div>
        <div class="card col-md-3">
            <h4 class="pro-d-title">
                <div>@item.Name</div>
            </h4>
            <div>@item.Description</div>
            <div class="product_meta font-weight-bold">
                <span class="posted_in"> Category:
                    <a rel="tag" href="#">@item.Category.ToString()</a>
                </span>
            </div>
            <div class="font-weight-bold">Price: <span class="amount-old">@item.Price</span>
                <div class="form-group font-weight-bold">
                    <div>Quantity: @item.Quantity </div>
                    <input type="quantity" placeholder="1" class="form-control quantity">
                </div>
                <p>
                    <button class="btn btn-round btn-dark" @onclick="(() => AddToShoppingCart(item))"type="button">
                        <i class="fa fa-shopping-cart"></i> Add to Shopping Cart
                    </button>
                </p>
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public int Id { get; set; }

    public string ErrorMessage { get; set; }

    private Item item;

    protected override async Task OnInitializedAsync() {
        try {
            item = await itemService.GetItemAsync(Id);
        }
        catch (Exception e) {
            ErrorMessage = e.Message;
        }
    }
    private void AddToShoppingCart(Item item) {
        itemService.ShoppingCart.AddToShoppingCart(item);
    }
}