@page "/ShoppingBasket"
@using SEP3UI.Data
@using SEP3Library.Models
@using System.Security.Claims
@inject IOrderService orderService
@inject ICustomerService customerService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider

<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <h4>Shopping Cart</h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">
                    </div>
                </div>
            </div>
            @foreach (Item item in orderService.ShoppingCart.Items) {
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2">
                            <img class="img-fluid" src="@item.ImageName">
                        </div>
                        <div class="col">
                            <div class="row text-muted"></div>
                            <div class="row">@item.Name</div>
                        </div>
                        <div class="col">
                            <a @onclick="(() => DecreaseQuantity(item))"> - </a> 
                            <span class="border">@item.Quantity</span>
                            <a @onclick="(() => IncreaseQuantity(item))"> + </a>
                        </div>
                        <div class="col"> @(item.Price * item.Quantity) DKK 
                            <a class="close" @onclick="(() => RemoveItemFromShoppingCart(item))">&#10005;</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row mt-3">
                <div>Total items: @GetItemsBasedOnQuantity()</div>
                <div class="col text-right">@GetFinalPrice() DKK</div>
            </div>
            <div class="row mt-3">
                <div>Shipping:</div>
                <div class="col text-right">@orderService.ShoppingCart.ShippingPrice DKK</div>
            </div>
            <div class="row mt-3">
                <div>Discount code:</div> 
            </div>
            <input class="mt-3" placeholder="Enter your code">
            <div class="row mt-3">
                <div>Total price:</div>
                <div class="col text-right">@GetTotalOrderPrice() DKK</div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-dark" disabled="@isDisabled" @onclick="@NavigateToComponent">Go to payout</button>
            </div>
        </div>
    </div>
</div>

<style>
    a:hover {
        cursor: pointer;
    }
</style>

@code {
    private int customerId;
    private bool isDisabled;
    
    protected override async Task OnInitializedAsync() {
        try {
            customerId = int.Parse((await authStateProvider.GetAuthenticationStateAsync()).User.FindFirstValue("Id"));
        } catch (Exception e) {
            customerId = -1;
        }
        SetDisabledState();
    }

    private void SetDisabledState() {
        if (orderService.ShoppingCart.Items.Count == 0)
            isDisabled = true;
    }

    private void DecreaseQuantity(Item item) {
        if (item.Quantity > 1) {
            Item i = orderService.ShoppingCart.RemoveQuantityFromShoppingCart(item);
            if (customerId != -1)
                customerService.UpdateShoppingCartAsync(i,i.Id,customerId);
        }
    }
    
    private void IncreaseQuantity(Item item) {
        Item i = orderService.ShoppingCart.IncreaseQuantity(item);
        if (customerId != -1)
            customerService.UpdateShoppingCartAsync(i,i.Id,customerId);
    }

    private void RemoveItemFromShoppingCart(Item item) {
        orderService.ShoppingCart.RemoveItemFromShoppingCart(item);
        if (customerId != -1)
            customerService.RemoveFromShoppingCartAsync(item.Id, customerId);
    }

    private int GetItemsBasedOnQuantity() {
        return orderService.ShoppingCart.FinalQuantity;
    }
    /*
     * Method returns the total of the shopping cart, but not the shipping rate
     * Yes, we need 2 methods :)
     */
    private double GetFinalPrice() {
        return orderService.ShoppingCart.Total;
    }
    /*
     * Method returns the total of the shopping cart plus the shipping rate
     */
    private double GetTotalOrderPrice() {
        return orderService.ShoppingCart.TotalOrderPrice();
    }
    
    private void NavigateToComponent() {
        NavigationManager.NavigateTo("Payout/");
    }
}