@page "/ShoppingBasket"
@using SEP3Library.Model
@using SEP3UI.Data
@inject IOrderService orderService
@inject NavigationManager NavigationManager

<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col d-flex align-items-center">
                        <h4>Shopping Cart</h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">
                    </div>
                </div>
            </div>
            @foreach (Item item in orderService.ShoppingCart.Items) {
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2">
                                <img class="img-fluid" src="@item.ImageName">
                            </div>
                            <div class="col">
                                <div class="row text-muted"></div>
                                <div class="row">@item.Name</div>
                            </div>
                            <div class="col">
                                <a class ="btn-outline-secondary" @onclick="(() => DecreaseQuantity(item))"> - </a> 
                                <a class="border">@item.Quantity</a>
                                <a class = "btn-outline-secondary" @onclick="(() => IncreaseQuantity(item))"> + </a>
                            </div>
                            <div class="col"> @(item.Price * item.Quantity) DKK 
                                <span class="close" @onclick="(() => RemoveItemFromShoppingCart(item))">&#10005;</span>
                            </div>
                        </div>
                    </div>
                }
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row mt-3">
                <div>Items: @GetItemsBasedOnQuantity()</div>
                <div class="col text-right">@GetFinalPrice()DKK</div>
            </div>
            <div class="row mt-3">
                <div>Shipping</div>
                <div class="col text-right">@orderService.ShoppingCart.ShippingPrice DKK</div>
            </div>
            <div class="row mt-3">
                  <div>Discount code</div> 
            </div>
            <input class="mt-3" placeholder="Enter your code">
            <div class="row mt-3">
                <div>Total price</div>
                <div class="col text-right">@GetTotalOrderPrice() DKK</div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-dark" disabled="@isDisabled" @onclick="@NavigateToComponent">Go to payout</button>
            </div>
        </div>
    </div>
</div>
@code {
    
    private bool isDisabled { get; set; }
    
    protected override async Task OnInitializedAsync() {
        GetDisabledState();
    }

    public bool GetDisabledState() {
        if (orderService.ShoppingCart.Items.Count == 0)
            isDisabled = true;
        return isDisabled;
    }

    private void DecreaseQuantity(Item item) {
        if (orderService.ShoppingCart.Items.Count > 1)
            orderService.ShoppingCart.RemoveQuantityFromShoppingCart(item);
    }
    
    private void IncreaseQuantity(Item item) {
        orderService.ShoppingCart.AddToShoppingCart(item);
    }

    private void RemoveItemFromShoppingCart(Item item) {
        orderService.ShoppingCart.RemoveItemFromShoppingCart(item);
    }

    private int GetItemsBasedOnQuantity() {
        return orderService.ShoppingCart.FinalQuantity;
    }
    /*
     * Method returns the total of the shopping cart, but not the shipping rate
     * Yes, we need 2 methods :)
     */
    private double GetFinalPrice() {
        return orderService.ShoppingCart.Total;
    }
    /*
     * Method returns the total of the shopping cart plus the shipping rate
     */
    private double GetTotalOrderPrice() {
        return orderService.ShoppingCart.TotalOrderPrice();
    }
    
    private void NavigateToComponent() {
        NavigationManager.NavigateTo("Payout/");
    }
}